{% extends 'BedrijvenFicheBundle::layout.html.twig' %}

{% block title %}Add Contactpersoon{% endblock%}

{% block body %}
    <h1>Add Contact for bedrijf "{{ contactpersoon.bedrijf.title }}"</h1>
    {% include 'BedrijvenFicheBundle:Contactpersoon:form.html.twig' with { 'form': form } %}
{% endblock %}