{% extends 'BedrijvenFicheBundle::layout.html.twig' %}

{% block title %}Contactpersoon toevoegen{% endblock%}

{% block body %}
    <h1>Contactpersoon toevoegen voor bedrijf: "{{ contactpersoon.bedrijf.title }}"</h1>
    {% include 'BedrijvenFicheBundle:Contactpersoon:form.html.twig' with { 'form': form } %}
{% endblock %}