{% extends 'BedrijvenFicheBundle::layout.html.twig' %}

{% block title %}Over{% endblock%}

{% block body %}
    <header>
        <h1>Over deze site</h1>
    </header>
    <article>
        <p>Deze site is gemaakt in een Symfony2 framework. </p>
    </article>
{% endblock %}